<template>  
  <div>
    <nav>
      <div style="position: relative; float: right; ">
          <nuxt-link style="color:grey"
            v-if="$i18n.locale !== 'en'"
            :to="switchLocalePath('en')"
          >
            English
          </nuxt-link>

          <nuxt-link style="color:grey"
            v-if="$i18n.locale !== 'es'"
            :to="switchLocalePath('es')"
          >
            Español
          </nuxt-link>

          <nuxt-link style="color:grey"
            v-if="$i18n.locale !== 'fr'"
            :to="switchLocalePath('fr')"
          >
            Français
          </nuxt-link>
        </div>
    </nav>

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

          <ul class="uk-navbar-nav">
              <li><a href="#modal-full" uk-toggle><span uk-icon="icon: table"></span></a></li>
              <li>
                <a href="/">Home
                </a>
              </li>
              <li v-for="race of races" :key="race.id">
                <n-link :to="`/race/${race.id}`">{{ race.racename }}</n-link>
              </li>
          </ul>

        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <!-- <li v-for="category in categories">
                <router-link :to="{ name: 'categories-id', params: { id: category.id }}" tag="a">{{ category.name }}
                </router-link>
              </li> -->
          </ul>
        </div>

    </nav>

    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover" style="background-image: url('https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3308&q=80 3308w');" uk-height-viewport></div>
                <div class="uk-padding-large">
                    <h1 style="font-family: Staatliches;">By UTMB</h1>
                    <div class="uk-width-1-2@s">
                        <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                          <!-- <li v-for="category in categories">
                            <router-link class="uk-modal-close" :to="{ name: 'categories-id', params: { id: category.id }}" tag="a">{{ category.name }}
                            </router-link>
                          </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nuxt />
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data () {
    return {
      races: []
    }
  },
  mounted () {
    axios.get(process.env.API_URL+'/races')
    .then((res) => {
      this.races=res.data;
    })
  }
}

</script>