<template>
  <div class="container">
    <div v-if="content!=null">
      <!-- <logo /> -->
      <h1 class="title">
        <!-- {{db}} -->
      </h1>
      
      <div style="text-align:left; padding:3rem">
        {{about}}
      </div>
      <div v-for="photo in content.photos" :key=photo.id>
        <img 
        :src="photo.formats.medium!=null?photo.formats.medium.url:photo.formats.url">
      </div>
      
      <div style="text-align:left; padding:3rem">
        {{description}}
      </div>
      
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Logo from '~/components/Logo.vue'
import axios from 'axios';
var moment = require('moment')

export default Vue.extend({
  components: {
    Logo
  },
  data() {
    return {
      content: null,
      description: null,
      about:null,
      db:''
    }
  },
  mounted () {
    this.db=process.env.DBNAME;
    
    axios.get(process.env.API_URL+"/page-texte")
    .then(res => {
      this.content = res.data;
      let about2 = res.data;

      this.description = about2.eventdescription.filter(item => item.language.code==this.$i18n.locale);
      if(this.description.length>0)
        this.description=this.description[0].content;
      else
        this.description = 'empty';

      this.about = about2.about.filter(item => item.language.code==this.$i18n.locale);
      if(this.about.length>0)
        this.about=this.about[0].content;
      else
        this.about = [];
    })
  }
})
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
