<template>  
  <div>

      <div v-if="race.mainpicture" id="banner" class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-padding" :data-src="race.mainpicture.formats.medium.url" uk-img>
        <h1>{{ race.racename }}</h1>
      </div>

      <div class="uk-section">
        <div class="uk-container uk-container-small">
            <div v-if="race.description" id="editor">{{ description }}</div>
            <p v-if="race.updated_at">{{ moment(race.updated_at).format("MMM Do YY") }}</p>
        </div>
      </div>

      <div v-html="race.timetable" style="margin:3rem"></div>

  </div>
</template>

<script>  
import axios from 'axios';
var moment = require('moment')

export default {  
  data() {
    return {
      race: {},
      moment: moment,
      description: null
    }
  },
  mounted () {
    axios.get(process.env.API_URL+"/races/"+this.$route.params.id)
    .then(res => {
      this.race =res.data;
      let descriptions=res.data.description;
      this.description = descriptions.filter(item => item.language.code==this.$i18n.locale);
      if(this.description.length>0)
        this.description=this.description[0].content;
      else
        this.description = 'empty';
    })
  }
}
</script>  